/* CSS document */

.description code {
  font-style: normal;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word
}

ul.wpfl {
  list-style-type: disc;
  list-style-position: inside;
}

ol.wpfl {
  list-style-type: decimal;
  list-style-position: inside;
}

ul.wpfl ul,
ol.wpfl ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol.wpfl ol,
ul.wpfl ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

dt {
  font-weight: bold;
}

dd,
dt,
span.nobreak {
  -webkit-column-break-after: avoid;
  break-after: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-bottom: 0 1em 1em 1em;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.col-2 {
  -webkit-columns: 2 15rem;
          columns: 2 15rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-column-rule: 1px solid;
          column-rule: 1px solid
}

.col-3 {
  -webkit-columns: 3 15rem;
          columns: 3 15rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-column-rule: 1px solid;
          column-rule: 1px solid;
}

.wp-admin-lite-blue {
  color:#21759b
}