/* CSS document */

.description code {
font-style:normal;
}

pre {
white-space:     pre-wrap;
white-space:-moz-pre-wrap;
white-space:-pre-wrap;
white-space:  -o-pre-wrap;
word-wrap:break-word;
}

ul.wpfl {
list-style-position:inside;
list-style-type:disc;
}

ol.wpfl {
list-style-position:inside;
list-style-type:decimal;
}

ul.wpfl ul,
ol.wpfl ul {
margin-left:15px;

list-style-position:inside;
list-style-type:circle;
}

ol.wpfl ol,
ul.wpfl ol {
margin-left:15px;

list-style-position:inside;
list-style-type:lower-latin;
}

dt {
font-weight:bold;
}

dd,
dt,
span.nobreak {
break-after:avoid;
break-inside:avoid;
-webkit-column-break-after:avoid;
-webkit-column-break-inside:avoid;
}

.video-responsive {
position:relative;

overflow:hidden;

height:0;
margin-bottom:0 1em 1em 1em;
padding-bottom:56.25%;
}

.video-responsive iframe {
position:absolute;
top:0;
left:0;

width:100%;
height:100%;
}

.col-2 {
-webkit-column-gap:2rem;
        column-gap:2rem;
-webkit-column-rule:1px solid;
        column-rule:1px solid;;
-webkit-columns:2 15rem;
        columns:2 15rem;
}

.col-3 {
-webkit-column-gap:2rem;
        column-gap:2rem;
-webkit-column-rule:1px solid;
        column-rule:1px solid;
-webkit-columns:3 15rem;
        columns:3 15rem;
}

.wp-admin-lite-blue {
color:#21759b;
}
