/* SCSS document */

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word
}

dt {
  font-weight: bold;
  -webkit-column-break-after: avoid;
                 break-after: avoid
}

dd {
  -webkit-column-break-before: avoid;
                 break-after: avoid
}
