/* SCSS document */

.description code {
  font-style: normal;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word
}

ul.wpfl {
  list-style-type: disc;
  list-style-position: inside;
}

ol.wpfl {
  list-style-type: decimal;
  list-style-position: inside;
}

ul.wpfl ul,
ol.wpfl ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol.wpfl ol,
ul.wpfl ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

dt {
  font-weight: bold;
}

dd,
dt,
span.nobreak {
  -webkit-column-break-after: avoid;
  break-after: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}